:root {
    --navy-blue: #1A3D6D;
    --gold-col: #FFD700;
    --body-col: #f5f5f5;
    --white-col: #fff;
    --text-col: #333;
    --header-font: 'Montserrat', sans-serif;
    --p-font: 'Open Sans', sans-serif;
}



@media screen and (max-width: 767px) {

    *,
    *::before,
    *::after {
        box-sizing: border-box;
    }


    body {
        background-color: var(--body-col);
        width: 100vw;
        margin: 0 auto;
    }

    h1,
    h2,
    h3 {
        font-family: var(--header-font);
    }

    span,
    p {
        font-family: var(--p-font);
    }

    header {
        display: grid;
        grid-template-columns: 24px auto 24px;
        column-gap: .8rem;
        padding: 10px 0 10px 16px;
        background: var(--navy-blue);
        color: var(--white-col);
    }

    header img {
        display: block;
        width: 50px;
        height: auto;
    }

    header span {
        padding: 10px 0 10px 30px;
        text-align: left;
        color: var(--gold-col);
    }

    nav {
        display: none;
    }

    #nav-toggle.show {
        display: flex;
        flex-direction: column;
        margin: 0;
        padding: 1rem;
        background: var(--navy-blue);
    }

    #nav-toggle.show a {
        color: var(--white-col);
        text-decoration: none;
        text-align: left;
        padding: 1rem 0;
    }

    #nav-toggle.show a:visited {
        color: var(--gold-col);
    }

    #nav-toggle.show a.current-page {
        border-bottom: solid 1px var(--gold-col);
    }

    #ham-btn {
        display: block;
        width: 30px;
        height: 30px;
        border: none;
        background: none;
        color: var(--gold-col);
        padding: 10px 10px 0 0;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        font-size: 1rem;
    }

    .hero-image > img {
        display: block;
        width: 100%;
        height: auto;
        margin: 0 0 20px 0;
    }

    .hero-image{
        position: relative;
        color: var(--text-col);
    }

    header h1,
    header h2,
    header h3,
    header p,
    header a {
        color: var(--white-col);
    }


    .hero-image h1,
    .hero-image h2 {
        color: var(--navy-blue);
    }


    section h1,
    section h2,
    section h3 {
        color: var(--gold-col);
    }

    .cta {
        position: absolute;
        bottom: 5px;
        left: 50%;
        transform: translate(-50%);
        background: var(--gold-col);
        padding: 1rem;
        border-radius: 8px;
        border: solid 1px var(--white-col);
        color: var(--navy-blue)
    }

    .cta h2,
    .cta p,
    .cta a {
        color: var(--navy-blue);
    }


    .cta a{
        text-decoration: none;
        color: var(--text-col);
    }

    main h1 {
        text-align: left;
        margin: 0 0 0 16px;
    }

    .weather-info section {
        background: var(--navy-blue);
        padding: 1rem;
        margin: 20px 0;
    }



    .weather-info div p,
    .weather-info section:first-of-type div,
    .weather-info section:first-of-type div > p {
        color: var(--white-col);
    }

    #business-info {
        max-width: 500px;
        width: 100vw;
        padding: 1rem;
    }

    #business-info.grid {
        display: grid;
        grid-template-columns: repeat(2, minmax(0, 1fr));
        padding: 1rem;
        column-gap: .5rem;
    }

    #business-info.list {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    #business-info.grid .members-card,
    #business-info.list .members-card {
        background: var(--navy-blue);
        margin: 20px 0;
    }

    #business-info.list .members-card {
        padding: 2rem;
        width: 500px;
    }

    #business-info.grid .members-card img,
    #business-info.list .members-card img {
        display: block;
        width: 100px;
        height: auto;
        object-fit: cover;
        margin: 1rem auto;
    }

    #business-info.grid .members-card p,
    #business-info.grid .members-card h2 {
        padding-left: .5rem;
    }



    .button-order {
        display: flex;
        justify-content: center;
        gap: 1rem;
    }

    .button-order button {
        width: 60px;
        height: 35px;
        border-radius: 4px;
    }

    .button-order button.active {
        background: var(--gold-col);
        color: var(--navy-blue);
    }

    .members-card p,
    .members-card span {
        color: var(--white-col);
    }

    .members-card a{
        text-overflow: ellipsis;
    }

    .weather-info section:first-of-type h2,
    #currentWeather > h2,
    #weatherForecast h2,
    .members-card h2,
    .footer-info section:first-of-type h3 {
        color: var(--gold-col);
        text-align: center;
    }

    #currentWeather p,
    #weatherForecast p,
    #business-info p {
        color: var(--white-col);
    }

    .header-to-center,
    main > h1 {
        text-align: center;
    }

    .footer-info section {
        background: var(--navy-blue);
        padding: 1rem;
    }

    .socials {
        display: flex;
        justify-content: center;
        padding: 20px 0;
    }

    .footer-info p,
    .footer-info span {
        text-align: left;
        color: var(--white-col);
    }
    

    #business-info.grid .members-card p a,
    #business-info.list .members-card p a {
        color: var(--gold-col);
    }
}