:root {
    --navy-blue: #1A3D6D;
    --gold-col: #FFD700;
    --body-col: #f5f5f5;
    --white-col: #fff;
    --text-col: #333;
    --header-font: 'Montserrat', sans-serif;
    --p-font: 'Open Sans', sans-serif;
}

@media screen and (max-width: 767px) {

    *,
    *::before,
    *::after {
        box-sizing: border-box;
    }

    *:not(.navigation){
        opacity: 0;
        transform: translateY(20px);
        animation: fadeStack 0.5s ease forwards;
        animation-delay: 0.5s;
    }

    @keyframes fadeStack {
        to {
        opacity: 1;
        transform: translateY(0);
        }
    }

    body {
        background-color: var(--body-col);
        width: 100%;
        margin: 0 auto;
        text-align: left;
    }

    h1,
    h2,
    h3 {
        font-family: var(--header-font);
        color: var(--text-col);
    }

    p,
    span,
    legend,
    label, 
    input,
    button {
        font-family: var(--p-font);
    }

    header {
        display: grid;
        grid-template-columns: 24px auto 24px;
        column-gap: .8rem;
        padding: 10px 0 10px 16px;
        background: var(--navy-blue);
        color: var(--white-col);
    }

    

    header h1,
    header h2,
    header h3 {
        color: var(--white-col);
        
    }

    section {
        color: var(--white-col);
        padding: 1rem;
    }

    section h1,
    section h2,
    section h3 {
        color: var(--gold-col);
    }

    section p,
    section span {
        color: var(--text-col);
    }

    header img {
        display: block;
        width: 50px;
        height: auto;
    }

    header span {
        padding: 10px 0 10px 30px;
        text-align: left;
        color: var(--gold-col);
    }

    nav {
        display: none;
    }

    #nav-toggle.show {
        display: flex;
        flex-direction: column;
        margin: 0;
        padding: 1rem;
        background: var(--navy-blue);
    }

    #nav-toggle.show a {
        color: var(--white-col);
        text-decoration: none;
        text-align: left;
        padding: 1rem 0;
    }

    #nav-toggle.show a:visited {
        color: var(--gold-col);
    }

    #nav-toggle.show a.current-page {
        border-bottom: solid 1px var(--gold-col);
    }

    .confirmation{
        padding: 1rem;
    }

    #thankyou{
        background-color: var(--navy-blue);
        margin: 1rem;

        & p{
            color: var(--white-col);
        }
    }


    #ham-btn {
        display: block;
        width: 30px;
        height: 30px;
        border: none;
        background: none;
        color: var(--gold-col);
        padding: 10px 10px 0 0;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        font-size: 1rem;
    }

    .hero-image img {
        display: block;
        width: 100%;
        height: auto;
        margin: 0 0 20px 0;
    }

    .socials {
        display: flex;
        justify-content: center;
        padding: 20px 0;
    }

    .footer-info section {
        background: var(--navy-blue);
        padding: 1rem;
    }

    .footer-info p,
    .footer-info span {
        text-align: left;
        color: var(--white-col);
    }

    .footer-info
    {
        margin: 30px 0;
    }

    .outer{
        background: green;
        border-radius: 50%;
        width: 100px;
        height: 100px;
        padding: 2rem;
        margin: 1rem auto 2rem;
        position: relative;
        animation: backgr 1.5s infinite alternate;
    }

    .inner{  
        animation: identifier 1s infinite alternate;
        position: absolute;
        left: 50%;
        transform: translate(-50%, 50%);
        font-size: 2rem;
        bottom: 50%;
    } 
    @keyframes identifier { 
        0% 
        { 
            transform: scale(1) translate(-50%, 50%); 
            opacity: 0; 
        } 
        100% 
        { 
            transform: scale(1.25) translate(-50%, 50%); 
            opacity: 1; 
        } 
    }

    @keyframes backgr {
        0% 
        { 
 
            opacity: 0; 
        } 
        100% 
        { 

            opacity: 1; 
        } 
    }
}