



@media screen and (min-width: 1001px){
    *,
    *::before,
    *::after {
        box-sizing: border-box;
    }

    body {
        margin: 0;
        padding: 0;
        background-image: url("../images/chess-background.webp");
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        height: 100vh;
    }

    h1,
    h2,
    h3 {
        font-family: var(--heading-font);
        color: var(--chess-light-green);
        padding: 0 0 0 1rem;
    }

    main {
        height: 100vh;
        width: 100%;
        padding: 1rem;
    }

    p,
    span,
    a {
        font-family: var(--body-font);
        color: var(--chess-white);
        padding:  0 0 0 1rem;
    }

    ul{
        color: var(--chess-white);
    }

    header {
        background: linear-gradient(to right, var(--chess-black-trans), var(--chess-dark-gray-trans));
        grid-template-columns: 28px auto;
        padding: 1rem;
        column-gap: 1.5rem;
        background-size: cover;
        width: 100%;
        backdrop-filter: blur(8px);
    }

    header img {
        object-fit: cover;
        overflow: hidden;
        margin-top: 1rem;
    }

    header>h1 {
        display: inline;
        margin: 0 0 1rem 1rem;
        color: var(--chess-white);
    }

    #toggle-button {
        display: none;
    }

    #nav-toggle {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        padding-top: 1rem;
        border-top: solid 1px var(--chess-white);
    }



    #nav-toggle a {
        color: var(--chess-white);
        text-decoration: none;
    }

    #nav-toggle .current {
        border-bottom: solid 1px var(--chess-green);
        border-bottom-width: 3px;
        padding-left: 0;
    }

    #nav-toggle .current:hover {
        text-decoration: none;
        border-bottom: solid 1px var(--chess-gold);
        border-bottom-width: 3px;
    }

    #nav-toggle a:hover {
        text-decoration: underline;
        color: var(--chess-gold);
        transition: all 0.5s ease-in-out;
    }

    .persistent-nav {
        top: 0;
        position: fixed;
        z-index: 2;
        width: 100%;
    }

    #openModal{
        padding: .8rem;
        width: 120px;
        margin-left: 1rem;
        background-color: var(--chess-green);
        color: var(--chess-white);
        border-radius: 8px;
        border: none;
        cursor: pointer;
        margin-bottom: 1rem;
    }

    #openModal:hover{
        background-color: var(--chess-gold);
    }

    #signUpForm{
        padding: 1rem;
        background-color: var(--chess-dark-gray);
        border: solid 1px var(--chess-white);
        border-radius: 8px;
    }

    #signUpForm::backdrop{
        backdrop-filter: blur(5px);
    }

    #signUpForm>section>div {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        padding: .5rem;
        gap: 1.5rem;
    }

    #signUpForm>section #closeSignIn {
        background-color: var(--chess-green);
        width: 100px;
        height: 50px;
        margin-top: 10px;
        border: none;
        border-radius: 8px;
        cursor: pointer;
        color: var(--chess-white);
    }

    #signUpForm>section form label {
        color: var(--chess-white);
        display: block;
    }

    #signUpForm>section form legend {
        color: var(--chess-light-green);
    }

    #signUpForm>section form input,
    #signUpForm>section form select {
        display: block;
        margin: 0 0 20px;
        height: 44px;
        width: 50%;
        border-radius: 6px;
        padding: .5rem;
    }

    #signUpForm>section form button[type="submit"] {
        margin-left: 0;
        width: 100px;
        padding: .8rem;
        background-color: var(--chess-green);
        border: none;
        border-radius: 8px;
        color: white;
        cursor: pointer;
    }

    #signUpForm>section form fieldset {
        padding: 1rem;
    }

    #signUpForm>section form input[required] {
        border-left: solid 4px var(--chess-form-red);
    }


    .socials {
        display: flex;
        flex-direction: row;
        justify-content: center;
    }


    footer {
        background: linear-gradient(to right, var(--chess-black-trans), var(--chess-dark-gray-trans));
        padding: 1rem;
    }

    footer h3 {
        text-align: center;
        color: var(--chess-light-green);
    }

    footer img:hover {
        background-color: var(--chess-gold);
        border-radius: 50%;
        transition: all 0.3s ease-in-out;
    }


    footer p,
    footer span {
        color: var(--chess-white);
        text-align: center;
    }

}