:root {
    --chess-black: #000000;

    --chess-light-green: rgb(1, 255, 1);

    --chess-dark-gray: #2c2c2c;
    --chess-dark-gray-trans: #2c2c2cbe;
    /* Modal: background color */

    --chess-white: #ffffff;
    /*Links : default, text-col: P, and h1,h2,h3...*/

    --chess-gold: #d4af37;
    /* background-color: default, hover effects: button, nav*/


    --chess-green: #228B22;
    /*heading */

    --chess-light-gray: #f5f5f5;
    /*bg-color: sections, secondary text */

    --heading-font: 'Merriweather', serif;
    --body-font: 'Roboto', sans-serif;
}

@media screen and (max-width: 640px) {

    *,
    *::before,
    *::after{
        box-sizing: border-box;
    }

    html{
        margin: 0;
        padding: 0;
    }

    h1,
    h2,
    h3{
        font-family: var(--heading-font);
    }

    p,
    span,
    a{
        font-family: var(--body-font);
    }


    body{
        background: url("../images/chess-background.webp");
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        margin: 0;
        padding: 0;
        width: 100%;
    }

    header {
        display: grid;
        grid-template-columns: 28px auto 32px;
        background: linear-gradient(to right, var(--chess-black), var(--chess-dark-gray));
        column-gap: 1.5rem;
        padding: 1rem;
        background-size: cover;
        width: 100%;
    }

    header img {
        width: 100%;
        object-fit: cover;
        overflow: hidden;
    }

    header h1{
        display: inline;
        margin: .5rem 0 0 2rem;
        color: var(--chess-white);
    }

    nav {
        display: none;
    }

    #toggle-button{
        display: block;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        border: none;
        font-size: 1.3rem;
        width: 50px;
        height: auto;
        margin-right: 1rem;
        padding: .5rem;
        border-radius: 8px;
        background-color: inherit;
        color: var(--chess-white);
    }

    .hero{
        display: block;
        width: 100%;
        position:  relative;
        margin: 0 auto;
        padding: 0;
    }

    .hero img {
        display: block;
        width: 100%;
        overflow: hidden;
        margin: 0 auto;
    }

    .insert-into-hero{
        position: absolute;
        background-color: var(--chess-dark-gray-trans);
        bottom: 25%;
        left: 50%;
        transform: translate(-50%, 50%);
        padding: 2rem;
        width: 100%;
        text-align: center;
    }

    .insert-into-hero h1{
        color: var(--chess-light-green);
        font-size: 2.4rem;
        margin: 0;
        padding: 1rem;
        font-weight: 800;
    }
    .insert-into-hero p,
    .insert-into-hero a{
        color: var(--chess-white);
        font-size: 1.2rem;
        margin: 0;
        padding: 1rem 1rem 2.5rem;
    }

    .insert-into-hero a{
        background-color: var(--chess-green);
        padding: 1rem;
        text-decoration: none;
        border: solid 1px var(--chess-white);
        border-radius: 6px;
        color: var(--chess-white);
    }

    main > h1{
        color: var(--chess-light-green);
        padding-left: 1rem;
        font-size: 2.5rem;
    }

    .cards{
        padding: 1rem;
    }

    .cards article h2{
        color: var(--chess-light-green);
        font-size: 2rem;
    }

    .cards article p{
        color: var(--chess-white);
        font-size: 1.5rem;
    }

    
}