:root {
    --chess-black: #000000;

    --chess-white-trans: #ffffff83;

    --chess-black-trans: #00000084;

    --chess-light-green: rgb(1, 255, 1);

    --chess-dark-gray: #2c2c2c;
    --chess-dark-gray-trans: #2c2c2cbe;
    /* Modal: background color */

    --chess-white: #ffffff;
    /*Links : default, text-col: P, and h1,h2,h3...*/

    --chess-gold: #d4af37;
    /* background-color: default, hover effects: button, nav*/

    --chess-form-red: red;

    --chess-green: #228B22;
    /*heading */

    --chess-light-gray: #f5f5f5;
    /*bg-color: sections, secondary text */

    --heading-font: 'Merriweather', serif;
    --body-font: 'Roboto', sans-serif;
}

@media screen and (min-width:1001px) {

    *,
    *::before,
    *::after {
        box-sizing: border-box;
    }

    body {
        margin: 0;
        padding: 0;
        background-color: var(--chess-black);
        color: var(--chess-white);
    }

    /* When using an explicit <img class="bg-image"> make it cover the viewport */
    .bg-image {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: center center;
        z-index: -1;
        pointer-events: none;
        user-select: none;
    }

    h1,
    h2,
    h3 {
        font-family: var(--heading-font);
    }

    p,
    span,
    a {
        font-family: var(--body-font);
    }

    header {
        background: linear-gradient(to right, var(--chess-black-trans), var(--chess-dark-gray-trans));
        grid-template-columns: 28px auto;
        padding: 1rem;
        column-gap: 1.5rem;
        background-size: cover;
        width: 100%;
        backdrop-filter: blur(8px);
    }

    header img {
        object-fit: cover;
        overflow: hidden;
        margin-top: 1rem;
    }

    header>h1 {
        display: inline;
        margin: 0 0 1rem 1rem;
        color: var(--chess-white);
    }

    #toggle-button {
        display: none;
    }

    #nav-toggle {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        padding-top: 1rem;
        border-top: solid 1px var(--chess-white);
    }

    #nav-toggle a {
        color: var(--chess-white);
        text-decoration: none;
    }

    #nav-toggle .current {
        border-bottom: solid 1px var(--chess-green);
        border-bottom-width: 3px;
    }

    #nav-toggle .current:hover {
        text-decoration: none;
        border-bottom: solid 1px var(--chess-gold);
        border-bottom-width: 3px;
    }

    #nav-toggle a:hover {
        text-decoration: underline;
        color: var(--chess-gold);
        transition: all 0.5s ease-in-out;
    }

    .hero {
        display: block;
        width: 100%;
        position: relative;
        margin: .1rem auto;
        padding: 0;
    }

    .persistent-nav {
        top: 0;
        position: fixed;
        z-index: 2;
        width: 100%;
    }

    h1.logo {
        color: var(--chess-white);
        /* keep it white */
        text-shadow: 2px 2px 4px var(--chess-black);
        /* adds contrast */
        margin: 0;
    }


    .hero img {
        display: block;
        width: 100%;
        height: auto;
        overflow: hidden;
        margin: 0 auto;
    }

    .insert-into-hero {
        position: absolute;
        background-color: var(--chess-dark-gray-trans);
        bottom: 12%;
        left: 50%;
        transform: translate(-50%, 50%);
        padding: 1rem;
        width: 100%;
        text-align: center;
        backdrop-filter: blur(3px);
    }

    .insert-into-hero h1 {
        color: var(--chess-light-green);
        font-size: 2.4rem;
        margin: 0;
        padding: 1rem;
        font-weight: 800;
    }

    .insert-into-hero p,
    .insert-into-hero a {
        color: var(--chess-white);
        font-size: 1.2rem;
        margin: 0;
        padding: 1rem 1rem 2.5rem;
    }

    .insert-into-hero a {
        background-color: var(--chess-green);
        padding: 1rem;
        text-decoration: none;
        border: solid 1px var(--chess-white);
        border-radius: 6px;
        color: var(--chess-white);
        font-size: 1.2rem;
        font-weight: 700;
    }

    .insert-into-hero a:hover {
        background-color: var(--chess-gold);
        transition: all 0.3s ease-in-out;
    }

    main>h1 {
        color: var(--chess-light-green);
        padding-left: 1rem;
        text-shadow: 2px 2px 4px var(--chess-black);
        font-size: 3rem;
        font-weight: 800;
    }

    .cards {
        padding: 1rem;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 1rem;
    }

    .cards article {
        background: var(--chess-dark-gray-trans);
        padding: 1rem;
        border-radius: 8px;
        border: solid 1px var(--chess-white-trans);
    }

    .cards article h2 {
        color: var(--chess-light-green);
        font-size: 2rem;
    }

    .cards article p {
        color: var(--chess-white);
        font-size: 1.3rem;
    }

    .socials {
        display: flex;
        flex-direction: row;
        justify-content: center;
    }


    footer {
        background: linear-gradient(to right, var(--chess-black-trans), var(--chess-dark-gray-trans));
        padding: 1rem;
    }

    footer h3 {
        text-align: center;
        color: var(--chess-light-green);
    }

    footer img:hover {
        background-color: var(--chess-gold);
        border-radius: 50%;
        transition: all 0.3s ease-in-out;
    }


    footer p,
    footer span {
        color: var(--chess-white);
        text-align: center;
    }
}