:root {
    --chess-black: #000000;

    --chess-white-trans: #ffffff83;

    --chess-black-trans: #00000084;

    --chess-light-green: rgb(1, 255, 1);

    --chess-dark-gray: #2c2c2c;
    --chess-dark-gray-trans: #2c2c2cbe;
    /* Modal: background color */

    --chess-white: #ffffff;
    /*Links : default, text-col: P, and h1,h2,h3...*/

    --chess-gold: #d4af37;
    /* background-color: default, hover effects: button, nav*/


    --chess-green: #228B22;
    /*heading */

    --chess-light-gray: #f5f5f5;
    /*bg-color: sections, secondary text */

    --heading-font: 'Merriweather', serif;
    --body-font: 'Roboto', sans-serif;
}

@media screen and (max-width: 1000px) {

    *,
    *::before,
    *::after {
        box-sizing: border-box;
    }

    html {
        margin: 0;
        padding: 0;
    }

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        font-family: var(--heading-font);
        color: var(--chess-light-green);
        padding-left: 1rem;
    }

    p,
    span,
    a,
    button,
    ul,
    ol {
        font-family: var(--body-font);
        color: var(--chess-white);
    }

    p,
    a {
        padding-left: 1rem;
    }

    button {
        margin-left: 1rem;
    }

    body {
        background: url("../images/chess-background.webp");
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        margin: 0;
        padding: 0;
        width: 100%;
    }

    .persistent-nav {
        top: 0;
        position: fixed;
        z-index: 2;
        width: 100%;
    }

    header {
        display: grid;
        grid-template-columns: 50px auto 50px;
        background: linear-gradient(to right, var(--chess-black-trans), var(--chess-dark-gray-trans));
        align-items: center;
        padding: 1rem;
        background-size: cover;
        width: 100%;
        position: relative;
        backdrop-filter: blur(8px);
    }

    header img {
        width: 100%;
        object-fit: cover;
        overflow: hidden;
    }

    header h1 {
        display: inline;
        margin: 0;
        text-align: center;
        color: var(--chess-white);
    }

    #nav-toggle {
        position: absolute;
        top: 80px;
        left: 0;
        right: 0;
        background: linear-gradient(to right, var(--chess-black-trans), var(--chess-dark-gray-trans));
        padding: 1rem;
        border-radius: 5px;
        display: none;
        z-index: 1;
        backdrop-filter: blur(8px);
        isolation: isolate;
    }

    #nav-toggle.show {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        gap: 1rem;
        background: linear-gradient(to right, var(--chess-black-trans), var(--chess-dark-gray-trans));
        backdrop-filter: blur(12px);
        will-change: backdrop-filter;
        isolation: isolate;
        transform: translateZ(0);
    }

    #nav-toggle .current {
        border-bottom: none;
        background: var(--chess-green);
    }

    #nav-toggle.show a {
        color: var(--chess-white);
        text-decoration: none;
        border-bottom: solid 1px var(--chess-white);
        padding: 1rem 0 1rem;
        animation: slideDown 0.4s forwards;
        opacity: 0;
        transform: translateY(-10px);
    }

    #nav-toggle.show a:nth-child(1) {
        animation-delay: 0.1s;
    }

    #nav-toggle.show a:nth-child(2) {
        animation-delay: 0.2s;
    }

    #nav-toggle.show a:nth-child(3) {
        animation-delay: 0.3s;
    }

    @keyframes slideDown {
        to {
            opacity: 1;
            transform: translateY(0);
        }
    }


    #nav-toggle.hide a {
        animation: slideUp 0.4s ease forwards;
    }

    #nav-toggle.hide a:nth-child(3) {
        animation-delay: 0.1s;
    }

    #nav-toggle.hide a:nth-child(2) {
        animation-delay: 0.2s;
    }

    #nav-toggle.hide a:nth-child(1) {
        animation-delay: 0.3s;
    }

    @keyframes slideUp {
        from {
            opacity: 1;
            transform: translateY(0);
        }

        to {
            opacity: 0;
            transform: translateY(-10px);
        }
    }

    #toggle-button {
        display: block;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        border: none;
        font-size: 1.3rem;
        width: 50px;
        height: auto;
        margin-right: 1rem;
        padding: .5rem;
        border-radius: 8px;
        background-color: transparent;
        color: var(--chess-white);
        cursor: pointer;
    }

    .hero-image {
        margin-top: 80px;
    }

    .hero-image img {
        width: 100%;
        height: auto;
    }

    #display-grid {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    #display-grid section {
        background-color: var(--chess-dark-gray-trans);
        margin: 30px;
        padding: 1rem;
        border: solid 1px var(--chess-white-trans);
        border-radius: 12px;
    }

    #display-grid section img {
        display: block;
        margin: 0 auto;
        object-fit: contain;
        overflow: hidden;
    }

    #display-grid section button {
        display: block;
        padding: .8rem;
        margin: 0 auto;
        background-color: var(--chess-green);
        border-radius: 8px;
        width: 200px;
        border: none;
    }

    #display-grid dialog {
        margin: auto;
        background-color: var(--chess-dark-gray);
        max-width: 500px;
        width: 100%;
        height: 600px;
        border: solid 1px var(--chess-white);
        padding: 1rem;
        border-radius: 8px;
    }

    #display-grid dialog button {
        background-color: var(--chess-green);
        padding: .8rem;
        margin: 20px 1rem;
        width: 100px;
        border-radius: 8px;
        border: none;
    }

    #display-grid dialog iframe {
        width: 100%;
        margin: 0 auto;
        border: solid 1px var(--chess-white-trans);
        border-radius: 8px;
    }

    #display-grid dialog img {
        object-fit: contain;
        overflow: hidden;
        width: 100%;
        display: block;
        margin: 0 auto;
    }

    #display-grid dialog div {
        display: flex;
        flex-direction: row;
        gap: 1rem;
        justify-content: space-between;
    }

    #display-grid dialog::backdrop {
        background: rgba(0, 0, 0, 0.3);
        backdrop-filter: blur(8px);
    }

    button {
        transition: transform 0.3s ease-in-out;
    }

    button:active {
        transform: scale(1.05);
    }

    .socials {
        display: flex;
        flex-direction: row;
        justify-content: center;
    }


    footer {
        background: linear-gradient(to right, var(--chess-black-trans), var(--chess-dark-gray-trans));
        padding: 1rem;
    }

    footer h3 {
        text-align: center;
        color: var(--chess-light-green);
    }


    footer p,
    footer span {
        color: var(--chess-white);
    }
}