:root {
    --chess-black: #000000;

    --chess-white-trans: #ffffff83;

    --chess-black-trans: #00000084;

    --chess-light-green: rgb(1, 255, 1);

    --chess-dark-gray: #2c2c2c;
    --chess-dark-gray-trans: #2c2c2cbe;
    /* Modal: background color */

    --chess-white: #ffffff;
    /*Links : default, text-col: P, and h1,h2,h3...*/

    --chess-gold: #d4af37;
    /* background-color: default, hover effects: button, nav*/


    --chess-green: #228B22;
    /*heading */

    --chess-light-gray: #f5f5f5;
    /*bg-color: sections, secondary text */

    --heading-font: 'Merriweather', serif;
    --body-font: 'Roboto', sans-serif;
}


@media screen and (min-width: 1001px) {

    *,
    *::before,
    *::after {
        box-sizing: border-box;
    }

    body {
        margin: 0;
        padding: 0;
        background-image: url("../images/chess-background.webp");
        background-repeat: no-repeat;
        background-position: center center;
        background-size: cover;
        background-attachment: fixed;
    }

    h1,
    h2,
    h3 {
        font-family: var(--heading-font);
    }

    p,
    span,
    a {
        font-family: var(--body-font);
    }


    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        font-family: var(--heading-font);
        color: var(--chess-light-green);
        padding-left: 1rem;
    }

    main p,
    main a {
        padding-left: 1rem;
    }

    p,
    span,
    a,
    button,
    ul,
    ol {
        font-family: var(--body-font);
        color: var(--chess-white);
    }

    a:hover {
        color: var(--chess-gold);
        transition: all 0.3s ease-in-out;
    }


    header {
        background: linear-gradient(to right, var(--chess-black-trans), var(--chess-dark-gray-trans));
        grid-template-columns: 28px auto;
        padding: 1rem;
        column-gap: 1.5rem;
        background-size: cover;
        width: 100%;
        backdrop-filter: blur(8px);
    }

    header img {
        object-fit: cover;
        overflow: hidden;
        margin-top: 1rem;
    }

    header>h1 {
        display: inline;
        margin: 0 0 1rem 1rem;
        color: var(--chess-white);
    }

    #toggle-button {
        display: none;
    }

    #nav-toggle {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        padding-top: 1rem;
        border-top: solid 1px var(--chess-white);
    }

    #nav-toggle a {
        color: var(--chess-white);
        text-decoration: none;
    }

    #nav-toggle .current {
        border-bottom: solid 1px var(--chess-green);
        border-bottom-width: 3px;
    }

    #nav-toggle .current:hover {
        text-decoration: none;
        border-bottom: solid 1px var(--chess-gold);
        border-bottom-width: 3px;
    }

    #nav-toggle a:hover {
        text-decoration: underline;
        color: var(--chess-gold);
        transition: all 0.5s ease-in-out;
    }

    .hero-image img {
        display: block;
        width: 100%;
        height: auto;
    }

    .persistent-nav {
        top: 0;
        position: fixed;
        z-index: 2;
        width: 100%;
    }


    #display-grid {
        display: grid;
        grid-template-columns: 1fr 1fr;
        padding: 1rem;

    }

    #display-grid section {
        background-color: var(--chess-dark-gray-trans);
        margin: 30px;
        padding: 1rem;
        border: solid 1px var(--chess-white-trans);
        border-radius: 12px;
    }

    #display-grid section img {
        display: block;
        margin: 0 auto;
        object-fit: contain;
        overflow: hidden;
    }

    #display-grid section button {
        display: block;
        padding: .8rem;
        margin: 0 auto;
        background-color: var(--chess-green);
        border-radius: 8px;
        width: 200px;
        border: none;
    }

    #display-grid dialog {
        margin: auto;
        background-color: var(--chess-dark-gray);
        max-width: 800px;
        width: 100%;
        height: 600px;
        border: solid 1px var(--chess-white);
        padding: 1rem;
        border-radius: 8px;
    }

    #display-grid dialog button {
        background-color: var(--chess-green);
        padding: .8rem;
        margin: 20px 1rem;
        width: 100px;
        border-radius: 8px;
        border: none;
    }

    #display-grid dialog iframe {
        width: 100%;
        margin: 0 auto;
        border: solid 1px var(--chess-white-trans);
        border-radius: 8px;
    }

    #display-grid dialog img {
        object-fit: contain;
        overflow: hidden;
        width: 100%;
        display: block;
        margin: 0 auto;
    }

    #display-grid dialog div {
        display: flex;
        flex-direction: row;
        gap: 1rem;
        justify-content: space-between;
    }

    #display-grid dialog::backdrop {
        background: rgba(0, 0, 0, 0.3);
        backdrop-filter: blur(8px);
    }

    button {
        cursor: pointer;
    }

    #display-grid section button:hover,
    #display-grid dialog button:hover {
        transition: all 0.3s ease-in-out;
        background-color: var(--chess-gold);
    }
















    .socials {
        display: flex;
        flex-direction: row;
        justify-content: center;
    }


    footer {
        background: linear-gradient(to right, var(--chess-black-trans), var(--chess-dark-gray-trans));
        padding: 1rem;
    }

    footer h3 {
        text-align: center;
        color: var(--chess-light-green);
    }

    footer img:hover {
        background-color: var(--chess-gold);
        border-radius: 50%;
        transition: all 0.3s ease-in-out;
    }


    footer p,
    footer span {
        color: var(--chess-white);
        text-align: center;
    }
}