:root {
    --chess-black: #000000;

    --chess-light-green: rgb(1, 255, 1);

    --chess-dark-gray: #2c2c2c;
    --chess-dark-gray-trans: #2c2c2cbe;
    /* Modal: background color */

    --chess-white: #ffffff;
    /*Links : default, text-col: P, and h1,h2,h3...*/

    --chess-gold: #d4af37;
    /* background-color: default, hover effects: button, nav*/


    --chess-green: #228B22;
    /*heading */

    --chess-light-gray: #f5f5f5;
    /*bg-color: sections, secondary text */

    --heading-font: 'Merriweather', serif;
    --body-font: 'Roboto', sans-serif;
}

body {
    background:
        url("../images/chess-background.webp");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

h1,
h2,
h3 {
    color: var(--chess-light-green);
    margin-left: 1rem;
}

h1,
h2,
h3{
    font-family: var(--heading-font);
}

p,pre,ul{
    font-family: var(--body-font);
    color: var(--chess-white);
    margin-left: 1rem;
}

