:root {
    --chess-black: #000000;

    --chess-white-trans: #ffffff83;

    --chess-black-trans: #00000084;

    --chess-light-green: rgb(1, 255, 1);

    --chess-dark-gray: #2c2c2c;
    --chess-dark-gray-trans: #2c2c2cbe;
    /* Modal: background color */

    --chess-white: #ffffff;
    /*Links : default, text-col: P, and h1,h2,h3...*/

    --chess-gold: #d4af37;
    /* background-color: default, hover effects: button, nav*/


    --chess-green: #228B22;
    /*heading */

    --chess-light-gray: #f5f5f5;
    /*bg-color: sections, secondary text */

    --heading-font: 'Merriweather', serif;
    --body-font: 'Roboto', sans-serif;
}


@media screen and (max-width: 1000px) {

    *,
    *::before,
    *::after {
        box-sizing: border-box;
    }

    h1,
    h2,
    h3 {
        font-family: var(--heading-font);
        color: var(--chess-light-green);
        padding-left: 1rem;
    }

    p,
    span,
    a {
        font-family: var(--body-font);
        color: var(--chess-white);
        padding-left: 1rem;
    }




    html {
        height: 100%;
    }

    body {
        background: url("../images/chess-background.webp");
        background-position: center center;
        background-size: cover;
        background-repeat: no-repeat;
        background-attachment: fixed;
        margin: 0;
        padding: 0;
        width: 100%;
        display: flex;
        flex-direction: column;
        min-height: 100vh;
    }

    main {
        flex: 1;
    }

    header {
        display: grid;
        grid-template-columns: 50px auto 50px;
        background: linear-gradient(to right, var(--chess-black-trans), var(--chess-dark-gray-trans));
        align-items: center;
        padding: 1rem;
        background-size: cover;
        width: 100%;
        position: relative;
        backdrop-filter: blur(8px);
    }

    header img {
        width: 100%;
        object-fit: cover;
        overflow: hidden;
    }

    header h1 {
        display: inline;
        margin: 0;
        text-align: center;
        color: var(--chess-white);
    }

    #nav-toggle {
        position: absolute;
        top: 80px;
        left: auto;
        background: linear-gradient(to right, var(--chess-black), var(--chess-dark-gray));
        padding: 1rem;
        border-radius: 5px;
        display: none;
        z-index: 1;
        width: 100%;
    }

    #nav-toggle.show {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        gap: 1rem;
        background: linear-gradient(to right, var(--chess-black-trans), var(--chess-dark-gray-trans));
        backdrop-filter: blur(8px);
    }

    

    #nav-toggle.show a {
        color: var(--chess-white);
        text-decoration: none;
        border-bottom: solid 1px var(--chess-white);
        padding: 1rem 0 1rem;
        animation: slideDown 0.4s forwards;
        opacity: 0;
        transform: translateY(-10px);
    }

    #nav-toggle.show a:nth-child(1) {
        animation-delay: 0.1s;
    }

    #nav-toggle.show a:nth-child(2) {
        animation-delay: 0.2s;
    }

    #nav-toggle.show a:nth-child(3) {
        animation-delay: 0.3s;
    }

    @keyframes slideDown {
        to {
            opacity: 1;
            transform: translateY(0);
        }
    }


    #nav-toggle.hide a {
        animation: slideUp 0.4s ease forwards;
    }

    #nav-toggle.hide a:nth-child(3) {
        animation-delay: 0.1s;
    }

    #nav-toggle.hide a:nth-child(2) {
        animation-delay: 0.2s;
    }

    #nav-toggle.hide a:nth-child(1) {
        animation-delay: 0.3s;
    }

    @keyframes slideUp {
        from {
            opacity: 1;
            transform: translateY(0);
        }

        to {
            opacity: 0;
            transform: translateY(-10px);
        }
    }

    #toggle-button {
        display: block;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        border: none;
        font-size: 1.3rem;
        width: 50px;
        height: auto;
        margin-right: 1rem;
        padding: .5rem;
        border-radius: 8px;
        background-color: transparent;
        color: var(--chess-white);
        cursor: pointer;
    }

    section img {
        display: block;
        width: 200px;
        height: 200px;
        margin: 0 auto;
        border-radius: 50%;
        border: 10px solid var(--chess-black);
        animation: zoomIn 5s ease-in-out infinite;
    }

    @keyframes zoomIn {
        0% {
            transform: scale(1);
            opacity: 1;
        }

        50% {
            transform: scale(1.1);
            opacity: 0.7;
        }

        100% {
            transform: scale(1);
            opacity: 1;
        }
    }

    .socials {
        display: flex;
        flex-direction: row;
        justify-content: center;
    }


    footer {
        background: linear-gradient(to right, var(--chess-black-trans), var(--chess-dark-gray-trans));
        padding: 1rem;
        margin-top: auto;
    }

    footer h3 {
        text-align: center;
        color: var(--chess-light-green);
    }


    footer p,
    footer span {
        color: var(--chess-white);
    }
}