@media screen and (min-width:1001px) {

    *,
    *::before,
    *::after {
        box-sizing: border-box;
    }

    body {
        margin: 0;
        padding: 0;
        background-image: url("../images/chess-background.webp");
        background-repeat: no-repeat;
        background-position: center center;
        background-size: cover;
        background-attachment: fixed;
        display: flex;
        flex-direction: column;
        min-height: 100vh;
        background-color: var(--chess-black);
        color: var(--chess-white);
    }

    main {
        flex: 1;
    }

    h1,
    h2,
    h3 {
        font-family: var(--heading-font);
        color: var(--chess-light-green);
        padding-left: 1rem;
    }

    .confirmation-message {
        margin-top: 160px;
        margin-bottom: 30px;
    }

    p,
    span,
    a {
        font-family: var(--body-font);
        color: var(--chess-white);
        padding-left: 1rem;
    }

    header {
        background: linear-gradient(to right, var(--chess-black-trans), var(--chess-dark-gray-trans));
        grid-template-columns: 28px auto;
        padding: 1rem;
        column-gap: 1.5rem;
        background-size: cover;
        width: 100%;
        backdrop-filter: blur(8px);
    }

    header img {
        object-fit: cover;
        overflow: hidden;
        margin-top: 1rem;
    }

    header>h1 {
        display: inline;
        margin: 0 0 1rem 1rem;
        color: var(--chess-white);
    }

    #toggle-button {
        display: none;
    }

    #nav-toggle {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        padding-top: 1rem;
        border-top: solid 1px var(--chess-white);
    }

    #nav-toggle a {
        color: var(--chess-white);
        text-decoration: none;
    }

    #nav-toggle .current {
        border-bottom: solid 1px var(--chess-green);
        border-bottom-width: 3px;
        padding-left: 0;
    }

    #nav-toggle .current:hover {
        text-decoration: none;
        border-bottom: solid 1px var(--chess-gold);
        border-bottom-width: 3px;
    }

    #nav-toggle a:hover {
        text-decoration: underline;
        color: var(--chess-gold);
        transition: all 0.5s ease-in-out;
    }

    .hero {
        display: block;
        width: 100%;
        position: relative;
        margin: .1rem auto;
        padding: 0;
    }

    .persistent-nav {
        top: 0;
        position: fixed;
        z-index: 2;
        width: 100%;
    }


    .hero img {
        display: block;
        width: 100%;
        height: auto;
        overflow: hidden;
        margin: 0 auto;
    }

    section img {
        display: block;
        width: 200px;
        height: 200px;
        margin: 0 auto;
        border-radius: 50%;
        border: 10px solid var(--chess-black);
        animation: zoomIn 5s ease-in-out infinite;
    }

    @keyframes zoomIn {
        0% {
            transform: scale(1);
            opacity: 1;
        }

        50% {
            transform: scale(1.1);
            opacity: 0.7;
        }

        100% {
            transform: scale(1);
            opacity: 1;
        }
    }

    main>section>h2 {
        text-align: center;
        margin-bottom: 2em;
    }

    .socials {
        display: flex;
        flex-direction: row;
        justify-content: center;
    }


    footer {
        background: linear-gradient(to right, var(--chess-black-trans), var(--chess-dark-gray-trans));
        padding: 1rem;
        margin-top: auto;
    }

    footer h3 {
        text-align: center;
        color: var(--chess-light-green);
    }

    footer img:hover {
        background-color: var(--chess-gold);
        border-radius: 50%;
        transition: all 0.3s ease-in-out;
    }


    footer p,
    footer span {
        color: var(--chess-white);
        text-align: center;
    }



}